# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
**/DerivedData/
**/*.ipa
**/*.apk
**/*.aab

# IDE
.vscode/
.idea/
*.iml

# Others
*.log
